<template>
  <h2>{{ title }}</h2>
  <v-container fluid>
    <v-row v-for="_ in Array.from({ length: 9 })">
      <v-col v-for="_ in Array.from({ length: 6 })">
        <v-skeleton-loader type="list-item"></v-skeleton-loader>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { VSkeletonLoader } from "vuetify/labs/VSkeletonLoader";

export default defineComponent({
  components: { VSkeletonLoader },
  props: {
    title: {
      type: String,
    },
  },
});
</script>

<style scoped></style>
