<template></template>

<script lang="ts">
import { h, ref } from "vue";
import { VCard, VTabs, VTab, VWindow, VWindowItem } from "vuetify/components";
import { defineComponent } from "vue";

export default defineComponent({
  props: ["modelValue"],
  emits: ["update:modelValue"],
  setup(_, { slots }) {
    const tab = ref(null);

    const slotsArr = "default" in slots ? slots.default?.() ?? [] : [];
    return () => [
      h(VCard, null, () => [
        h(
          VTabs,
          {
            modelValue: tab,
            bgColor: "primary",
          },
          () =>
            slotsArr.map((item, i) =>
              h(VTab, () => slots.default?.()[i]?.props?.title ?? `title ${i}`)
            )
        ),
        h(
          VWindow,
          {
            modelValue: tab,
          },
          () =>
            slotsArr.map((item, i) =>
              h(VWindowItem, () => slots.default?.()[i])
            )
        ),
      ]),
    ];
  },
});
</script>
<style scoped></style>
