<template>
  <TabBucket>
    <InvoicesSkeleton title="Invoices" />
    <PayoutsSkeleton title="Payouts" />
  </TabBucket>
</template>
<script lang="ts">
import TabBucket from "@/components/tab-bucket.vue";
import InvoicesSkeleton from "@/components/invoices-skeleton.vue";
import PayoutsSkeleton from "@/components/payouts-skeleton.vue";
export default {
  components: { TabBucket, InvoicesSkeleton, PayoutsSkeleton },
};
</script>
